#root {
  display: flex;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 90px;
  background-color: var(--secundar);
  display: flex;
  /* height: 100%; */
  flex-direction: column;
  padding-top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.5s ease;
  z-index: 5;
  text-align: center;
}

input {
  color:white;
}

a {
  text-decoration: none;
}

.overflow {
  overflow: scroll;
  scrollbar-color: var(--principal);
  margin: 0;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

:root {
  --principal: #000000;
  --secundar: #222222;
  --third: #1dcd9f;
  --forth: #169976;
  color: rgba(245, 245, 245, 0.8);
}

body {
  background-color: var(--principal);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--forth);
  border-color: var(--forth);
  width: 100%;
  opacity: 0.3;
}
