input {
    color:rgb(160, 50, 50);
}

.message-list {
  flex:1;
  display: flex;
  overflow-y:auto;
  flex-direction: column;
  min-height: 0;
  /* justify-content: flex-end;  */
  scroll-behavior: smooth;
  /* padding-bottom: 80px; */
  /* width: 80%; */
}

.message-list::after{
  content: '';
  margin-top: auto;
  height: 0;
}
.message-list::-webkit-scrollbar {
  width: 12px;
}

.message-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.message-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.message-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.message-bar {
  flex: 1;
  padding: 12px;
  background-color: var(--third);
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  color: white;
}


.form {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.chatComponent{
  height:91vh;
  display: flex;
  flex-direction: column;
  padding-top: 77px;
  /* box-sizing: border-box;  */
}

.send-button
{
  padding: 12px 24px;
  background: var(--third);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}