.members-list {
  width: 20%;
  background-color: var(--secundar);
  display: flex;
  /* max-height: 100%; */
  flex-direction: column;
  /* align-items: center; */
  padding-top: 20px;
  overflow-y: auto;
  /* text-wrap: ; */
  padding-top: 40px;
  z-index: 5;
}

.align {
  margin-left: 15px;
  margin-right: 15px;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.members {
  display: flex;
  flex-direction: column;
}
.leaveButton {
  background-color:red;
  position: absolute;
  bottom: 2%;
  width: 5%;
  height: 5%;
  color:white;
  border-radius: 10%;
  border-color:red;
}
.leaveButton:hover {
  background-color: brown;
  border-color: brown;
}
