.modal {
  background-color: var(--secundar);
  padding: 30px;
  border-radius: 8px;
  height: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 101;
  max-width: 80%;
  max-height: 70%;
  position:fixed;
  align-self: center;
  left:40%;
}
.modal button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.modal button:hover {
  background-color: #45a049;
}
  